@use "../foundation/mixin" as *;

.p-about {
    background-image: url(../../images/About.webp);
    background-size: cover;
    background-repeat: no-repeat;
    @include mq-930{
        background-position: 80% center;
    }

    @include mq {
        background-image: url(../../images/SP_About.webp);
    }

    &__contents {
        writing-mode: vertical-rl;
        font-weight: 500;
        padding-bottom: 107px;
        padding-top: 113px;
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        gap: 60px;

        @include mq {
            flex-direction: row;
            align-items: center;
            gap: 24px;
            margin: 0 auto;
            padding: 50px 0;
        }

    }

    &__title {
        font-size: 30px;
        line-height: 1.0;
        letter-spacing: 5px;

        @include mq {
            font-size: 25px;
        }
    }

    &__message {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 18px;
        line-height: 2.67;
        letter-spacing: 7px;

        @include mq-576 {
            font-size: 16px;
            line-height: 1.625;
            letter-spacing: 4px;
            margin-bottom: 0;
        }
    }
}